.item.part h1 {
    font-size: 2em;
    margin: 0 0 1em;
    padding: 2em 0;
    text-align: center;
}
.item.part h1 span {
    border-bottom: 15px solid #88AABB;
    color: #116688;
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}


.item.chapter h1 {
  background: none repeat scroll 0 0 #E9E9E9;
  border: 10px solid #335577;
  display: block;
  font-size: 1.8em;
  line-height: 2em;
  margin: 0 0 1em;
  text-align: center;
}

.item.chapter h1 span {
    color: inherit;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.3em;
    margin-right: 0.1em;
    padding-bottom: 0;
}

.item.chapter h2 { font-size: 1.8em; }
.item.chapter h3 { font-size: 1.4em; }
.item.chapter h4 { font-size: 1.4em; }
.item.chapter h5 { font-size: 1.25em; }
.item.chapter h6 { font-size: 1.1em; }

.item.chapter h2 {
    border-bottom: 10px solid #888;;
    font-size: 1.8em;
    margin: 0 0 1em;
    padding-bottom: 0.2em;
    text-align: left;
}

.item.chapter h3 {
    border-bottom: 5px solid #666;
    padding: 0.2em;
}

.item.chapter h4 {
}

.item.chapter h5 {
    border-bottom: 2px solid #888888;
}

.item.chapter h5 {
    margin-bottom: .5em;
    font-style: italic;
}

.item.chapter h6 {
    margin-bottom: .5em;
    color: #222;
    font-style: italic;
}

/* local toc */
.local_toc li.level-1 {
	margin-left: -2em;
}
.local_toc li.level-2 {
	margin-left: -1em;
}
.local_toc li.level-3 {
	margin-left: 0em;
}
.local_toc li.level-4 {
	margin-left: 1em;
}
.local_toc li.level-5 {
	margin-left: 2em;
}
.local_toc li.level-6 {
	margin-left: 3em;
}

.cuadro.cuadro-indice {
    padding: 2em 2em 1em;
}
