# Instrucciones de utilización

## Compatibilidad

Este libro electrónico está desarrollado para su utilización en dispositivos y aplicaciones de lectura **Amazon Kindle**:

* Dispositivos:
  * Kindle (*).
  * Kindle Touch.
  * Kindle Paperwhite.
  * Kindle Fire.
  * Kindle Fire HD.

* Aplicaciones:
  * Kindle para Android.
  * Kindle para Windows.
  * Kindle para IOS.

(*) En estos dispositivos la visualización puede verse degradada debido a su limitada capacidad gráfica.

No se garantiza la correcta visualización en cualquier otro dispositivo o aplicación distinto de los anteriores.

## Ajustes

Se recomienda modificar los ajustes de su dispositivo o aplicación de lectura **Amazon Kindle** según se indica a continuación para conseguir una mejor experiencia de uso. Por favor, tenga en cuenta que los ajustes disponibles pueden variar en cada tipo de dispositivo o aplicación de lectura:

  * **Modo diurno** (letras negras sobre fondo blanco).
  * **Tamaño de letra** medio o más pequeño.
  * **Orientación** puede ser vertical u horizontal.


## Nota sobre enlaces externos

A lo largo de esta obra se incluyen enlaces a sitios webs y documentos externos que proporcionan información adicional pertinente. Estos enlaces se indican con la siguiente apariencia:

- [Enlace externo](http://example.com)

En algunos casos se indica el tipo del enlace con un icono distintivo:

- [Documento PDF](http://example.com/documento.pdf)
- [Vídeo de YouTube](http://example.com/youtube/video)

<div markdown="1" class="cuadro">
##### Nota sobre documentos PDF

  ---

  **IMPORTANTE**: Algunos de los documentos PDF enlazados cuentan con características y/o formato avanzado que impiden su correcta visualización en dispositivos móviles. En este caso se recomienda su descarga y visualización en un ordenador en el que se pueda instalar la última versión de [Adobe Reader](http://get.adobe.com/es/reader/).

  ---

  _Existen múltiples aplicaciones que permiten la lectura de documentos PDF en dispositivos móviles --tanto gratuitas como de pago--, incluyendo la aplicación oficial **Adobe Reader** y la propia aplicación **Amazon Kindle**. Los respectivos fabricantes publican continuamente nuevas versiones que añaden nuevas características, por lo que no es posible asegurar con qué aplicación o versión se podrá visualizar un determinado documento. Es por ello que se ha considerado apropiado incluir estos enlaces por su utilidad didáctica, aun a riesgo de que no puedan ser visualizados en todos los dispositivos._

</div>
