{% extends 'activity-base.twig' %}

{% block responses %}

    <div class="responses">
    {% set letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'] %}
    {% for rindex, response in question.responses %}
        <p class="response">
            <a href="#{{ qid }}_{{ rindex }}"><span class="image"><img src="btn_{{ letters[rindex]|lower }}.jpeg" class="button" width="80" height="30" alt="*" /></span></a>
            &nbsp;{{ response }}
        </p>
    {% endfor %}
    </div>

{% endblock %}

