{% extends 'layout.twig' %}

{% block body %}
<div class="item title">
    <h1>{{ book.title }}</h1>
    <h2>{{ book.subtitle }}</h2>
    <h3>{{ book.author }}</h3>

    {{ item.content }}
</div>
{% endblock %}
