{% extends 'activity-solution-base.twig' %}

{% block result %}

    {# use a block instead of a set var because it cannot be seen out of current scope
    {# note that it is commented out on purpose to avoid displaying the value #}
    <!-- {% block success question.solution == rindex ? 1 : 0 %} -->

    {% if block('success') %}
        <div>
            <span class="answer answer-ok">Correct!!</span>
        </div>
        {% if question.explanation|default('') %}
            {{ question.explanation }}
        {% endif %}
    {% else %}
        <div>
            <span class="answer answer-error">Wrong</span>
        </div>
    {% endif %}

{% endblock %}