<div class="footnotes">
<hr />
<ol>
{% for footnote in footnotes %}
<li id="{{ footnote.id }}">
    <p>{{ footnote.text }}.&#160;<a href="#{{ footnote.backref }}" rev="footnote" class="footnote-backref">&#8617;</a></p>
</li>
{% endfor %}
</ol>
</div>
