{% extends 'layout.twig' %}

{% block body %}
    <div class="item footnotes">
        <h1 class="title" id="{{ item.slug }}"><span>{{ item.label }}</span> {{ item.title }}</h1>

        {{ item.content }}

        <hr/>
        {% include '_footnotes.twig' with {'footnotes': app.get('publishing.footnotes.items')} %}
    </div>
{% endblock %}