<div class="footnotes-items">
{% if footnotes  %}
<ol>
{% for footnote in footnotes %}
<li id="{{ footnote.id }}">
    <p>{{ footnote.text }}&#160;<a href="#{{ footnote.backref }}" rev="footnote" class="footnote-backref">&crarr;</a></p>
</li>
{% endfor %}
</ol>
{% endif %}
</div>
